fastapi[standard]>=0.128.0
psycopg[binary]>=3.3.2
google-generativeai>=0.8.6
google-genai>=2.0.0
imageio-ffmpeg>=0.5.1
pydantic>=2.12.5
python-jose[cryptography]>=3.5.0
python-multipart>=0.0.21
aiosqlite>=0.22.1
httpx>=0.28.1
uvicorn>=0.30.0
